@model IEnumerable<int>

@{
    ViewBag.Title = "Years";
}

<div style="margin-top:100px;">

    <div class="row mt-3">
        @foreach (var year in Model)
        {
            <div class="col-auto">
                @Html.ActionLink(year.ToString(), "Races", new { id = year }, htmlAttributes: new { @class = "btn btn-warning" })
            </div>
        }
    </div>

    <div>
        <a href="javascript:history.back()">Back</a>
    </div>
</div>